@import url("@gouvfr/dsfr/dist/dsfr/dsfr.min.css");

/* icons straight from http://remixicon.com/ (not included in the DSFR) */
.icon {
  height: 16px;
  width: 16px;
  display: inline-block;
  background-color: var(--text-action-high-blue-france);
}

.icon-lg {
  height: 24px;
  width: 24px;
}

.icon-xl {
  height: 32px;
  width: 32px;
}

.icon-bank-line {
  mask: url(../icons/bank-line.svg);
}

.icon-map-2-line {
  mask: url(../icons/map-2-line.svg);
}

/* aside on the "fiche de données" page */
.aside-entry {
  align-items: center;
  display: flex;
  gap: 10px;
  margin-bottom: 2em;
}

.aside-entry p {
  margin-bottom: 0;
}
