# Node
node_modules
yarn-error.log*

# Python
venv
*.pyc
__pycache__
.pytest_cache
.mypy_cache
.coverage

# GraphViz
*.dot

# Private
.env
*.db
ops/ansible/secrets/*.vault-password
ops/ansible/hosts_test

# OS
.DS_Store

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode

# Cypress integration tests
client/cypress/screenshots
client/cypress/videos
