# App
argon2-cffi==21.3.0
asyncpg==0.25.0
alembic==1.7.5
fastapi==0.70.0
gunicorn==20.1.0
punq==0.5
pydantic[email]==1.8.2
uvicorn[standard]==0.16.0
sqlalchemy[asyncio,mypy]==1.4.27

# Tooling
asgi-lifespan==1.0.1
black==21.12b0
flake8==4.0.1
httpx==0.21.1
isort==5.10.1
mypy==0.910
rich==11.2.0
psycopg2-binary==2.9.2
pytest==6.2.5
pytest-asyncio==0.16.0
pytest-cov==3.0.0
pyyaml==6.0
sqlalchemy-utils==0.37.9
types-pyyaml==6.0.4
