upstream client {
    server 127.0.0.1:{{ client_port }};
}

upstream api {
    server 127.0.0.1:{{ api_port }};
}

server {
    listen {{ web_port }};
    server_name {{ inventory_hostname }};

    location /favicon.ico {
        access_log off;
        log_not_found off;
    }

    location / {
        include proxy_params;
        proxy_pass http://client/;
    }

    location /api/ {
        include proxy_params;
        proxy_pass http://api/;
    }
}
