[program:server]
directory={{ workdir }}
command={{ workdir }}/venv/bin/python -m server.main
autostart=true
autorestart=true
stderr_logfile=/var/log/server.err.log
stdout_logfile=/var/log/server.out.log
