/*!
 * DSFR v1.2.1 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@charset "UTF-8";

/* ------------------------------------ *\
  Badge
\* ------------------------------------ */
.fr-badge {
  --link-underline: none;
  --link-blank-font: none;
  --link-blank-content: none;
  --text-spacing: 0;
  --title-spacing: 0;
  display: inline-flex;
  align-items: center;
  z-index: 1;

  --blend-full-size: 100%;
  font-size: 0.875rem;
  line-height: 1.5rem;
  min-height: 1.5rem;
  padding: 0 0.5rem;
  flex-direction: row;
  overflow: initial;
  max-height: none;
  font-weight: 700;
  max-width: 100%;
  text-transform: uppercase;
  border-radius: 0.25rem;
  color: var(--text-default-grey);

  --blend: var(--background-contrast-grey-blend);
  background-color: var(--background-contrast-grey);
}

.fr-badge--icon-left[class^="fr-icon-"],
.fr-badge--icon-left[class*=" fr-icon-"] {
  flex-direction: row;
  overflow: initial;
  max-width: 100%;
  max-height: none;
}

.fr-badge--icon-left[class^="fr-icon-"]::before,
.fr-badge--icon-left[class*=" fr-icon-"]::before {
  margin-left: -0.25rem;
  margin-right: 0.25rem;
  font-size: 1rem;
}

.fr-badge--icon-left[class^="fr-fi-"],
.fr-badge--icon-left[class*=" fr-fi-"] {
  flex-direction: row;
  overflow: initial;
  max-width: 100%;
  max-height: none;
}

.fr-badge--icon-left[class^="fr-fi-"]::before,
.fr-badge--icon-left[class*=" fr-fi-"]::before {
  margin-left: -0.25rem;
  margin-right: 0.25rem;
  font-size: 1rem;
}

.fr-badge--sm {
  font-size: 0.75rem;
  line-height: 1.25rem;
  min-height: 1.125rem;
  padding: 0 0.375rem;
  flex-direction: row;
  overflow: initial;
  max-width: 100%;
  max-height: none;
}

.fr-badge--sm.fr-badge--icon-left[class^="fr-icon-"],
.fr-badge--sm.fr-badge--icon-left[class*=" fr-icon-"] {
  flex-direction: row;
  overflow: initial;
  max-width: 100%;
  max-height: none;
}

.fr-badge--sm.fr-badge--icon-left[class^="fr-icon-"]::before,
.fr-badge--sm.fr-badge--icon-left[class*=" fr-icon-"]::before {
  margin-left: -0.1875rem;
  margin-right: 0.25rem;
  font-size: 0.75rem;
}

.fr-badge--sm.fr-badge--icon-left[class^="fr-fi-"],
.fr-badge--sm.fr-badge--icon-left[class*=" fr-fi-"] {
  flex-direction: row;
  overflow: initial;
  max-width: 100%;
  max-height: none;
}

.fr-badge--sm.fr-badge--icon-left[class^="fr-fi-"]::before,
.fr-badge--sm.fr-badge--icon-left[class*=" fr-fi-"]::before {
  margin-left: -0.1875rem;
  margin-right: 0.25rem;
  font-size: 0.75rem;
}

.fr-badge::before {
  font: normal 700 normal 1.5rem/1 dsfr-icon;
  margin-left: -0.25rem;
  margin-right: 0.25rem;
  font-size: 1rem;
}

.fr-badge--sm::before {
  font: normal 700 normal 1rem/1 dsfr-icon;
  margin-left: -0.1875rem;
  margin-right: 0.25rem;
  font-size: 0.75rem;
}

.fr-badge.fr-badge--info::before,
.fr-badge--sm.fr-badge--info::before {
  content: "";
  font-weight: 400;
}

.fr-badge.fr-badge--success::before,
.fr-badge--sm.fr-badge--success::before {
  content: "";
  font-weight: 400;
}

.fr-badge.fr-badge--error::before,
.fr-badge--sm.fr-badge--error::before {
  content: "";
  font-weight: 400;
}

.fr-badge.fr-badge--warning::before,
.fr-badge--sm.fr-badge--warning::before {
  content: "";
  font-weight: 400;
}

.fr-badge.fr-badge--new::before,
.fr-badge--sm.fr-badge--new::before {
  content: "";
  font-weight: 400;
}

.fr-badge.fr-badge--no-icon::before,
.fr-badge--sm.fr-badge--no-icon::before {
  content: none;
}

.fr-badge-group {
  --ul-type: none;
  --ol-type: none;
  --ul-start: 0;
  --ol-start: 0;
  --xl-block: 0;
  --li-bottom: 0;
  --ol-content: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
}

.fr-badge-group > li {
  display: inline-flex;
  max-width: 100%;
}

.fr-badge-group .fr-badge {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.fr-badge--info {
  color: var(--text-default-info);

  --blend: var(--background-contrast-info-blend);
  background-color: var(--background-contrast-info);
}

.fr-badge--error {
  color: var(--text-default-error);

  --blend: var(--background-contrast-error-blend);
  background-color: var(--background-contrast-error);
}

.fr-badge--success {
  color: var(--text-default-success);

  --blend: var(--background-contrast-success-blend);
  background-color: var(--background-contrast-success);
}

.fr-badge--warning {
  color: var(--text-default-warning);

  --blend: var(--background-contrast-warning-blend);
  background-color: var(--background-contrast-warning);
}

.fr-badge--new {
  color: var(--text-action-high-yellow-moutarde);

  --blend: var(--background-contrast-yellow-moutarde-blend);
  background-color: var(--background-contrast-yellow-moutarde);
}

.fr-badge--green-tilleul-verveine {
  color: var(--text-label-green-tilleul-verveine);

  --blend: var(--background-contrast-green-tilleul-verveine-blend);
  background-color: var(--background-contrast-green-tilleul-verveine);
}

.fr-badge--green-bourgeon {
  color: var(--text-label-green-bourgeon);

  --blend: var(--background-contrast-green-bourgeon-blend);
  background-color: var(--background-contrast-green-bourgeon);
}

.fr-badge--green-emeraude {
  color: var(--text-label-green-emeraude);

  --blend: var(--background-contrast-green-emeraude-blend);
  background-color: var(--background-contrast-green-emeraude);
}

.fr-badge--green-menthe {
  color: var(--text-label-green-menthe);

  --blend: var(--background-contrast-green-menthe-blend);
  background-color: var(--background-contrast-green-menthe);
}

.fr-badge--green-archipel {
  color: var(--text-label-green-archipel);

  --blend: var(--background-contrast-green-archipel-blend);
  background-color: var(--background-contrast-green-archipel);
}

.fr-badge--blue-ecume {
  color: var(--text-label-blue-ecume);

  --blend: var(--background-contrast-blue-ecume-blend);
  background-color: var(--background-contrast-blue-ecume);
}

.fr-badge--blue-cumulus {
  color: var(--text-label-blue-cumulus);

  --blend: var(--background-contrast-blue-cumulus-blend);
  background-color: var(--background-contrast-blue-cumulus);
}

.fr-badge--purple-glycine {
  color: var(--text-label-purple-glycine);

  --blend: var(--background-contrast-purple-glycine-blend);
  background-color: var(--background-contrast-purple-glycine);
}

.fr-badge--pink-macaron {
  color: var(--text-label-pink-macaron);

  --blend: var(--background-contrast-pink-macaron-blend);
  background-color: var(--background-contrast-pink-macaron);
}

.fr-badge--pink-tuile {
  color: var(--text-label-pink-tuile);

  --blend: var(--background-contrast-pink-tuile-blend);
  background-color: var(--background-contrast-pink-tuile);
}

.fr-badge--yellow-tournesol {
  color: var(--text-label-yellow-tournesol);

  --blend: var(--background-contrast-yellow-tournesol-blend);
  background-color: var(--background-contrast-yellow-tournesol);
}

.fr-badge--yellow-moutarde {
  color: var(--text-label-yellow-moutarde);

  --blend: var(--background-contrast-yellow-moutarde-blend);
  background-color: var(--background-contrast-yellow-moutarde);
}

.fr-badge--orange-terre-battue {
  color: var(--text-label-orange-terre-battue);

  --blend: var(--background-contrast-orange-terre-battue-blend);
  background-color: var(--background-contrast-orange-terre-battue);
}

.fr-badge--brown-cafe-creme {
  color: var(--text-label-brown-cafe-creme);

  --blend: var(--background-contrast-brown-cafe-creme-blend);
  background-color: var(--background-contrast-brown-cafe-creme);
}

.fr-badge--brown-caramel {
  color: var(--text-label-brown-caramel);

  --blend: var(--background-contrast-brown-caramel-blend);
  background-color: var(--background-contrast-brown-caramel);
}

.fr-badge--brown-opera {
  color: var(--text-label-brown-opera);

  --blend: var(--background-contrast-brown-opera-blend);
  background-color: var(--background-contrast-brown-opera);
}

.fr-badge--beige-gris-galet {
  color: var(--text-label-beige-gris-galet);

  --blend: var(--background-contrast-beige-gris-galet-blend);
  background-color: var(--background-contrast-beige-gris-galet);
}
